{
  "presets": [
    "flow"
  ],
  "plugins": [
    "syntax-trailing-function-commas",
    "transform-object-rest-spread",
    "transform-async-to-generator",
    "external-helpers",
    [
      "module-resolver", {
        "alias": {
          "package.json": "./package.json"
        }
      }
    ]
  ]
}
