{
  "presets": [
    "stage-0",
    "es2015",
    "flow"
  ],
  "plugins": [
    "transform-runtime",
    [
      "module-resolver", {
        "root": ["./src"],
        "alias": {
          "package.json": "./package.json"
        }
      }
    ]
  ]
}
